<div ng-controller="paginacionController" ng-init="LoadUsers()" id="angularId" class="">
    <h2>lista de usuarios</h2>

    <table id="tabla" class="table table-bordred table-striped table-hover">
        <thead>
            <tr>
                <td><a href="" ng-click="order('user')">Usuario</a>  </td>
                <td><a href="" ng-click="order('name')">Nombre</a>  </td>
                <td><a href="" ng-click="order('email')">Email</a>  </td>
                <td><a href="" ng-click="order('fechaCreacion')">Creacion</a>  </td>
                <td><a href="" ng-click="order('ExpirationDate')">Expiración</a>  </td>
                <td><a href="" ng-click="order('shipmentDate')">Envio de codigo</a>  </td>
                <td><a href="" ng-click="order('password')">Password</a>  </td>
                <td><a href="" ng-click="order('IsConfirm')">Confirmado</a>  </td>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat='usuario in usuarios | orderBy:predicate:reverse | startFromGrid: (currentPage -1) * itemsPerPage | limitTo: itemsPerPage'>
                <td>{{usuario.user}}</td>
                <td>{{usuario.name}}</td>
                <td>{{usuario.email}}</td>
                <td>{{formatDate(usuario.creationDate) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{formatDate(usuario.ExpirationDate) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{formatDate(usuario.shipmentDate) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                <td>{{usuario.password}}</td>
                <td>{{usuario.IsConfirm }}</td>
                <td class="botones"><p class="botones" title="Edit"><button class="btn btn-primary btn-xs" data-title="Edit" data-toggle="modal" ng-click="editar(this.usuario)" data-target="#modalUser"><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                <td class="botones"><p data-placement="top" data-toggle="tooltip" class="botones" title="Delete"><button class="btn btn-danger btn-xs" data-title="Delete" data-toggle="modal" data-target="#delete"><span class="glyphicon glyphicon-trash"></span></button></p></td>
            </tr>
        </tbody>
    </table>
    <pagination total-items="totalItems" items-per-page="itemsPerPage" page="currentPage" max-size="maxSize" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages"></pagination>
</div>

