@{
    Layout = "~/Views/usuario/_LayoutUsuario.cshtml";
}

<form role="form">
    <br>
    <div class="form-group input-group">
        @Html.Raw(ViewBag.body)
    </div>
    <hr>
    <label class="checkbox-inline">
        <a href="/home/index">Volver al inicio</a>
    </label>
</form>

