
<html>

<head>
    <style>
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 13px;
            font-weight: normal;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

            .btn-default:hover,
            .btn-default:focus,
            .btn-default.focus,
            .btn-default:active,
            .btn-default.active {
                color: #333;
                background-color: #e6e6e6;
                border-color: #adadad;
            }

            .btn-default:active,
            .btn-default.active {
                background-image: none;
            }

        .cuerpo {
            margin: 3% 10%;
        }

     
        .texto {
            display: block;
            font-family: monospace;
            margin: 1em 0px;
        }
    </style>
    <title></title>
</head>
<body>
    <div class="cuerpo">
        <div>
            <h2 style="color: #337ab7;font-family: sans-serif">

                ¡Le damos la bienvenida a Mis registros online!

            </h2>

        </div>

        <div class="texto">
            <p>
                Acaba de crear una cuenta en <strong>Mis registros online</strong>, para activarla necesitamos que
                confirme su dirección de correo electrónico haciendo clic en el siguiente botón:
                <br /><br />
                <div>
                    <a class="btn btn-default"  href="http://urlBoton" target="_blank">Confirmar</a>
           
                </div>
            </p>

        </div>
    </div>
</body>
</html>
